/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 11:13:38 PM
    Author     : Jia Li
*/

#bannerImgContainer {
    margin: auto;
    width: 77%;
    text-align: center;
}

#topLeftNavigationBar {
   height: 2em;
   margin-left: 0%;
   width: 77%;
   text-align: center;
}

p {
    display: inline-block;
}

ul {
    display: inline-block;
}

.navigation {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    padding-left:5px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:9px;
}

#banner {
    text-align: center;
    margin-left: 0%;
    width: 77%;
}

#textComponentContainers {
    margin-left: 0%;
    width: 77%;
}

#rightSidePage {
    position: absolute;
    margin-left: 76.5%;
    margin-top: 0%;
    width: 22.8%;
}

.mediaLabels {
    display: inline-block;
    width: 77%;
}

.rightMediaLabels {
    display: block;
    text-align: center;
}

#imageContainers {
    display: block;
    overflow: auto;
    height: 25em;
    text-align: center;
}

.verticalImages {
   display: block;
   margin:auto;
   width: 50%;
}

#videoContainers {
    display: block;
    overflow: auto;
    height: 25em;
    border-bottom: 1px solid black;
}

iframe{
   border: none;
   border-bottom: 1px solid black;
   width: 100%;
   height: 100%;
}

#slideShowContainers {
    display: inline-block;
    overflow: auto;
    height: 25em;
    margin-left: 0%;
    width: 100%
}

#footer {
    margin-left: 0%;
    width: 77%;
}

li {
    margin-left: 1.5%;
}

#mediaContainer {
    margin-left: 0%;
    width: 77%;
}