/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 11:13:38 PM
    Author     : Jia Li
*/

body {
   background-color: #66ff66;
   font-family: 'Oxygen', sans-serif;
}

#bannerImgContainer {
    background-color: #66ff66;
}

.inlineHyperlinks {
    text-decoration: none;
    color: #00e0e0;
}

.inlineHyperlinks:hover {
    color: #007f7f;
}

.mediaLabels {
    color: #004c00;
    text-shadow: 2px 2px 2px #007f00;
    background-color: #ff7f7f;
}

.rightMediaLabels {
    color: #004c00;
    text-shadow: 2px 2px 2px #007f00;
    background-color: #ff7f7f;
}

.header {
    color: #004c00;
    text-shadow: 2px 2px 2px #007f00;
    background-color: #ff7f7f;
}

#topLeftNavigationBar {
   background-color: #ff5c5c;
}

.navigation {
    color: white;
}

.navigation:hover {
  color: #32ff32;
}

#banner {
    background-color: #ff3232;
}

#title {
    font-size: 2.45em;
    color: #99ff99;
    text-shadow: 2px 2px 2px #007f00;
}

#studentName {
    font-size: 1.45em;
    color: #99ff99;
    text-shadow: 2px 2px 2px #007f00;
}

#textComponentContainers {
    background-color: #ff7f7f;
}

#rightSidePage {
    background-color: #ff7f7f;
}

#mediaContainer {
    background-color: #ff7f7f;
}

#slideShowContainers {
    background-color: #ff7f7f;
}

#imageContainers {
    background-color: #ff7f7f;
}

#videoContainers {
    background-color: #ff7f7f;
}

#footer {
    background-color: #ff7f7f;
}