<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

@author Jia Li
-->
<html>
    <head>
        <title>Slide Show Viewer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/TemplateCSS.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
        <script src ="js/TemplateJS.js">
        </script>
    </head>
    <body>
        <div>
            <div class="placeHolder"></div>
            <div id="slideShowImage"><img src="" class="buttonAndSlide" id="slideShow" alt="Missing Icon"/></div>
            <div class="placeHolder"></div>
        </div>
        <div id="slideShowCaption"></div><br>
        <div id="playPause">
            <img src="img/previous.png" alt="Missing Icon" id="previous" class="slideButtons" onclick="previousSlide();"/>
            <img src="img/play.png" alt="Missing Icon" id="playAndPause" class="slideButtons" onclick="play();"/>
            <img src="img/next.png" alt="Missing Icon" id="next" class="slideButtons" onclick="nextSlide();"/>
        </div>
        <span id="storeSRC"></span>
        
    </body>
</html>
