/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2015, 3:41:53 PM
    Author     : Jia Li
*/
.buttonAndSlide {
    display: inline-block;
}

.placeHolder {
    display: inline-block;
    text-align:center;
    margin: auto;
    width: 11%;
}

.slideButtons:hover {
  background-color: #82d5f0;
}

#slideShowTitle {
    font-size: 2.45em;
    color: #191970;
    text-shadow: 2px 2px 2px #5F9EA0;
}

#slideShowImage {
    display: inline-block;
    text-align:center;
    margin: auto;
    width: 76%;
}


#previousButton {
    text-align:center;
    margin: auto;
    width: 11%;
    position: absolute;
    top:30%;
}

#previous {
    width: 8%;
}

#nextButton {
    text-align:center;
    margin: auto;
    width: 11%;
    position: absolute;
    top:30%;
}

#next {
    width: 8%;
}

#slideShowCaption {
    margin: auto;
    width: 61%;
    text-align: center;
    font-family: Georgia;
    font-size: 1.45em;
    font-style: oblique;
    color: #0000CD;
}

#playPause {
    margin: auto;
    width: 25%;
    text-align:center;
}

#playAndPause {
    width: 8%;
    padding-left: 10%;
    padding-right: 9%;
}

.slideButtons:hover {
    cursor: pointer;
}

