/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & _____________
 */

.slide_language {
    -fx-padding: 15px 10px 10px 15px;
}

.error_box {
    -fx-alignment: center;
}

.workspace_spacing {
    -fx-padding: 15px 0px 0px 0px;
}

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: #add8e6;
    -fx-padding: 0px 20px 0px 20px;
    -fx-spacing: 20px;
}

.slide_edit_view {
    -fx-padding: 7px 0px 10px 15px;
    -fx-background-radius: 10.0;
    -fx-background-color: #ffffe5;
    -fx-border-thickness: 10px;
    -fx-spacing: 10px;
}

.vertical_toolbar_button {
    -fx-background-color: #ffc966;
    -fx-border-color: rgb(0, 0, 0);
    -fx-padding: 5px 5px 5px 5px;
}

.horizontal_toolbar_button {
    -fx-padding: 9px 9px 9px 9px;
    -fx-background-color: #8aacb8;
    -fx-border-color: rgb(0, 0, 0);
}

.horizontal_toolbar {
    -fx-hgap: 7px;
    -fx-padding: 5px 5px 5px 5px;
}

.view_slide_show_buttons {
    -fx-padding-top: 250px;
    -fx-padding-bottom: 250px;
}

.slide_panes {
    -fx-background: #ffffe5;
    -fx-border-color: rgb(0, 0, 0);
}

.slide_spacing {
    -fx-spacing: 5px;
    -fx-background-color: #66ff66;
    -fx-border-color: rgb(0, 0, 0);
}


.root{
    -fx-background-color: #add8e6;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14px;
}


