/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 11:13:38 PM
    Author     : Jia Li
*/

body {
   background-color: #ffae19;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 1.1em;
}

#bannerImgContainer {
    background-color: #ffae19;
}

.inlineHyperlinks {
    text-decoration: none;
    color: #e59400;
}

.inlineHyperlinks:hover {
    color: #996300;
}

.mediaLabels {
    color: #22229a; 
    text-shadow: 2px 2px 2px #2727af;
    background-color: #ffff7f;
}

.rightMediaLabels {
    color: #22229a; 
    text-shadow: 2px 2px 2px #2727af;
    background-color: #ffff7f;
}

.header {
    color: #22229a; 
    text-shadow: 2px 2px 2px #2727af;
    background-color: #ffff7f;
}

#topLeftNavigationBar {
   background-color: #e59400;
}

.navigation {
    color: white;
}

.navigation:hover {
  color: #551a8b;
}

#banner {
    background-color: #ffff66;
}

#title {
    font-size: 2.45em;
    color: #191970;
    text-shadow: 2px 2px 2px #5F9EA0;
}

#studentName {
    font-size: 1.45em;
    color: #191970;
    text-shadow: 2px 2px 2px #5F9EA0;
}

#textComponentContainers {
    background-color: #ffff7f;
}

#rightSidePage {
    background-color: #ffff7f;
}

#mediaContainer {
    background-color: #ffff7f;
}

#slideShowContainers {
    background-color: #ffff7f;
}

#imageContainers {
    background-color: #ffff7f;
}

#videoContainers {
    background-color: #ffff7f;
}

#footer {
    background-color: #ffff7f;
}