/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2015, 11:13:38 PM
    Author     : Jia Li
*/

.rightMediaLabels {
    color: #22229a; 
    text-shadow: 2px 2px 2px #2727af;
    background-color: #87CEEB;
}

#rightSidePage {
    background-color: #87CEEB;
}

body {
   background-color: #ffff7f;
   font-family: 'PT Sans', sans-serif;
}

.inlineHyperlinks {
    text-decoration: none;
    color: #8f8f00;
}

.inlineHyperlinks:hover {
    color: #0000ff;
}

.mediaLabels {
    color: #22229a; 
    text-shadow: 2px 2px 2px #2727af;
    background-color: #87CEEB;
}

.header {
    color: #22229a; 
    text-shadow: 2px 2px 2px #2727af;
    background-color: #87CEEB;
}

#topLeftNavigationBar {
   background-color: #0076E4;
}

.navigation {
    color: white;
}

.navigation:hover {
  color: #ffff32;
}

#banner {
    background-color: #1E90FF;
}

#title {
    font-size: 2.45em;
    color: #191970;
    text-shadow: 2px 2px 2px #5F9EA0;
}

#studentName {
    font-size: 1.45em;
    color: #191970;
    text-shadow: 2px 2px 2px #5F9EA0;
}

#textComponentContainers {
    background-color: #87CEEB;
}

#mediaContainer {
    background-color: #87CEEB;
}

#slideShowContainers {
    background-color: #87CEEB;
}

#imageContainers {
    background-color: #87CEEB;
}

#videoContainers {
    background-color: #87CEEB;
}

#footer {
    background-color: #87CEEB;
}